
html, body {
    margin: 0;
    height: 100%;
    background: #333;
}

#canvas {
    position: absolute;
    width: 900px;
    height: 600px;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -300px;
}
